.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    height: 100%;
    flex-direction: row-reverse;
    background-color: blue;

}
  
.footer-left,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
